---
---
@import url(//fonts.googleapis.com/css?family=Lato)

$serif: Georgia, serif
$sans-serif: Lato, sans-serif
$black-sans-serif: 'Lato Black', Lato, sans-serif
$code: monospace

$background: #f9f9f9

$card-border: rgba(0,0,128,0.2)
$card-background: #fff

$accent: #3D5AFE
$blue: #3F51B5
$text: #616161

html
    color: $text
    width: 98%
    margin-left: auto
    margin-right: auto
    max-width: 1200px

body
    padding-top: 2em
    font: 1em $serif
    display: grid
    grid: "nav main sidebar" / 175px 1fr 220px
    justify-content: center
    background-color: $background

nav
    position: fixed
    text-align: right
    a
        font: 1.25em $sans-serif
    .sub a
        font-size: .75em
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)

main
    grid-area: main

aside
    grid-area: sidebar

div.sidebar
    grid-area: nav
    justify-self: stretch

.sidebar
    justify-self: center
    display: flex
    flex-direction: column
    a
        color: $text
        display: block
        padding: 0.5em
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
        svg
            margin-top: auto
            margin-bottom: auto
            margin-right: 0.5em
        &.active
            font-weight: bold
            color: $blue
            &:visited
                color: $blue
        &:visited
            color: $text
        &:hover
            background: rgba(0,0,0,0.05)
            border-radius: 3px
            color: $blue

article
    border: 1px solid $card-border
    background-color: $card-background
    border-radius: 5px
    padding: 5px 10px

    &:not(:last-child)
        margin-bottom: 1.5em

section
    width: 98%
    margin-left: auto
    margin-right: auto
    box-sizing: border-box
    &:not(:first-child)
        margin-top: 2em

a
    text-decoration: none

ul
    clear: both
    padding-left: 1em
    line-height: 1.33em

dl
    line-height: 1.33em

dt:not(:first-child)
    margin-top: 1em

dd
    clear: both
    margin-left: 1.33em

h1
    margin-top: 0
    font: 2em $sans-serif
    text-align: center

h2
    color: $blue
    font: 0.75em $black-sans-serif

p
    margin: 0

%card-titles
    line-height: 1em
    margin-top: 0.1em
    margin-bottom: 0.5em
    font-family: $sans-serif

h3
    @extend %card-titles
    color: $blue
    font-size: 1.1em
    display: block
    float: left
    font-weight: bold

h4
    @extend %card-titles
    clear: both
    font-size: 1em
    font-weight: normal

h5
    @extend %card-titles
    float: left
    font-size: 1em
    font-weight: normal

hr
    height: 0.1em
    border: 0
    background-color: $blue
    margin-top: 1.5em
    margin-bottom: -5px

table
    width: 100%

#header
    font-family: $sans-serif

    td
        width: 33.33%
        text-align: center

    td:first-child
        text-align: left

    td:last-child
        text-align: right

time
    float: right
    font-size: 0.75em
    display: inline

code
    font-family: $code
    display: inline-block
    border: 1px solid $card-border
    background: $background
    padding: 2px 3px
    margin-right: 3px
    border-radius: 3px
    margin-bottom: 0.33em

.lang
    display: block
    padding: 5px
    border-radius: 3px
    margin-bottom: 3px
    border: 1px solid $card-border

@each $i in 50, 60, 70, 80, 90, 100
    .lang-#{$i}
        background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1% * $i, transparent 1% * $i)
        &:hover
            background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 1% * $i, transparent 1% * $i)
            &::after
                float: right
                content: '#{$i}%'

@media screen and (max-width: 900px)
    body
        grid: [row1-start] "nav sidebar" [row1-end] [row2-start] "main sidebar" [row2-end] / 1fr 220px
    nav
        position: relative
        text-align: center
        .sub
            display: none

    h1
        margin-bottom: 0


@media screen and (max-width: 700px)
    body
        grid: [row1-start] "nav" [row1-end] [row2-start] "main" [row2-end] [row3-start] "sidebar" [row3-end] / 1fr

    #education
        order: -2
    #links
        order: -1


    h3, time
        float: none

    dt time
        float: right

    article
        display: flex
        flex-direction: column
        h3
            order: -3
        h4
            order: -2
        time
            order: -1


