<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jacob Davis Resume</title>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>

<body>
	<main>
		<header id='header'>
			<h1>{{ site.resume_name }}</h1>
		</header>

		<section id='experience'>
			<h2>WORK EXPERIENCE</h2>
			{% for job in site.data.experience %}
			<article>
				<h3>{{ job.company }}</h3>
				<time>{{ job.start }} – {{ job.end }}</time>
				<h4>{{ job.role }}</h4>
				<ul>
					{% for task in job.tasks %}
					<li>{{ task }}</li>
					{% endfor %}
				</ul>
				{% for skill in job.skills %}
				<code>{{ skill }}</code>
				{% endfor %}
			</article>
			{% endfor %}
		</section>

		<section id='leadership'>
			<h2>LEADERSHIP</h2>
			{% for pos in site.data.leadership %}
			<article>
				<h3>{{ pos.org }}</h3>
				<time>{{ pos.start }} – {{ pos.end }}</time>
				<ul>
					{% for position in pos.positions %}
					<li>{{ position }}</li>
					{% endfor %}
				</ul>
			</article>
			{% endfor %}
		</section>
	</main>

	<aside>
		<h2>LINKS</h2>
				{% for link in site.data.links %}
				<a href='{{ link.href }}'><i class="{{ link.icon }}"></i>{{ link.text }}</a>
				{% endfor %}

		<section id='education'>
			<h2>EDUCATION</h2>
			{% for edu in site.data.education %}
			<article>
				<h3>{{ edu.school }}</h3>
				<time>{{ edu.start }} – {{ edu.end }}</time>
				<ul>
					<li>{{ edu.degree }} expected June 2018. {{ edu.gpa }} GPA</li>
				</ul>
			</article>
			{% endfor %}
		</section>

		<section id='skills'>
			<h2>SKILLS</h2>
			<ul>
				<li>Advanced – Python ● SQL (esp. Teradata) ● JavaScript (Client &amp; Server) ● HTML/CSS</li>
				<li>Intermediate – Java ● Splunk ● PHP ● C/C++</li>
			</ul>
		</section>
	</aside>
</body>
</html>
